input#morning.inp-cbx(type='checkbox')
label.cbx(for='morning')
  span
    svg(width='12px',height='10px')
      use(xlink:href='#check')
  span Morning
input#noon.inp-cbx(type='checkbox')
label.cbx(for='noon')
  span
    svg(width='12px',height='10px')
      use(xlink:href='#check')
  span Noon
input#afternoon.inp-cbx(type='checkbox')
label.cbx(for='afternoon')
  span
    svg(width='12px',height='10px')
      use(xlink:href='#check')
  span Afternoon
input#evening.inp-cbx(type='checkbox', style='display: none')
label.cbx(for='evening')
  span
    svg(width='12px',height='10px')
      use(xlink:href='#check')
  span Evening
  
//SVG Sprites
svg.inline-svg
  symbol#check(viewbox='0 0 12 10')
    polyline(points='1.5 6 4.5 9 10.5 1')