html{
  font-size: 10px;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  width: 100%;
  display: block;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: #595457;
  color: white;
  opacity: 0.9;
  align-items: center;
  padding: 1em;
  /* height: 60px; */
}
#img-div{
  width: 50%;
  max-width: 200px;
}
header img{
  width: 100%;
  overflow: hidden;
}

header ul{
  display: none;
  margin: 0 1em;
  width: 50%;
  justify-content: space-between;
}

#land{
  background-image: linear-gradient(rgba(160,62,153, 0.6),rgba(94,100,114,0.6)), url("./images/friends-581753_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(red);
  height:450px ;
  margin: 0;
  background-attachment: fixed;
}
#land h2{
  font-size: 3.5rem;
  width: 50%;
  margin: auto;
  border-top: 2px solid;
  border-bottom: 2px solid;
  text-align: center;
  padding: 1em;
}
.h2-div{
  display: flex;
  height: 42vh;
  align-items: center;
  justify-content: center;
  color: #FFEFD3;
}

/* Section 2 */
#section-2{
  background-color: #F6FFF8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-div{
  max-width: 700px;
  width: 95%;
  margin: 0 auto;
}
#section-2 h4{
  font-size: 2rem;
  color: #FB4D3D;
  width: 80%;
  margin: 1em auto 1em auto;
  text-transform: capitalize;
  text-align: center;
}
#section-2 h5{
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
}
.style{
  padding-bottom: 0.3em;
  border-bottom: 1px solid #FB4D3D;
}
#section-2 p{
  width: 60%;
  font-size: 1.4rem;
  text-align: center;
  margin:1em auto;
}
.section-2-img{
  display: flex;
  width: 95%;
  max-width: 700px;
  margin:auto;
  flex-direction: column;
  margin-top: 1em;
}

.section-2-img-div-1{
  width: 50%;
  align-self: flex-end;
  margin-bottom: 1em;
  overflow: hidden;
}
.section-2-img-div-1 img:hover,
.section-2-img-div-2 img:hover{
  transform: scale(1.2);
  transition: all ease 0.5s;
}
.section-2-img-div-2{
  width: 50%;
  overflow: hidden;
}
footer{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #F8F4E3;
  height: auto;
}
footer h4{
  font-size: 2rem;
  padding-bottom: 0.4em;
  border-bottom: 1px solid #FB4D3D;
  width: 70px;
  margin-top: 3em;
}
#footer-contact{
  max-width: 700px;
  width: 95%;
  margin: 0 auto;
}
footer p{
  font-size: 1.5rem;
  margin-top: 1em;
}
.map{
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
}
iframe{
  width: 100%;
  margin-bottom: 0;
  padding-bottom: 0;
  /* align-self: flex-end;
  justify-self: flex-end; */
}



/* Menu */

#menu-1{
  display: flex;
  flex-direction: column;
}
.menu-1-img{
  height: 600px;
  width: 100%;
}
.menu-1-img img{
  width: 100%;
  max-height: 100%;
  display: block;
  object-fit: cover;
}
#menu-1{
  background-color: #E4F0D0;
}
.bites{
  margin-top: 2em;
}
.bites h3{
  font-size: 2.5rem;
  color: #7A8B99;
}
.menu-dishes{
  padding: 0em 1em;
  border-bottom: 1px solid #aaa;
}
.bites h4{
  color: #241623;
  margin-top: 2em;
  font-size: 1.5rem;
}
.bites p{
  font-size: 1.2rem;
  padding: 1.5em 1em;
  color: #955E42;
}
.drinks h4{
  padding-bottom: 2em;
}




/* Contacts */
#contact-section,
#contact-section a{
  color: #241623;
  font-size: 3rem;
  text-align: center;
}
#contact-section{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#D7F9F1 ;
}
#facebook a{
  color: blue;
}
#instagram a{
  color: red;
}
#twitter a{
  color: blue;
}
#contact-section a:hover,
#contact-section a:focus{
  color: #241623;
  transition: all ease 0.6s;
} 



/* Order Section */
.order-img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 700px;
  width: 95%;
  margin: auto;
}
.order-img{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0;
}
.order-img p{
  font-size: 1.5rem;
  margin: 1em auto 0.5em;
}
.order-img p:last-child{
  font-weight: 900;
}
