/* header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
img{
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
} */
.menu-items{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  left: 0;
  height: 100vh;
  background-color: black;
  align-items: center;
  transform: translateX(-100vw);
  transition: transform ease-in-out 0.6s;
  opacity: 1;
}
.menu-items.open{
  transform: translateX(0);
  overflow: hidden;
}
.menu-items a{
  font-size: 2.5rem;
  color: white;
}
.active,
header a:hover,
header a:focus{
  color: #888;
  transition: all ease 0.6s;
}
.menu-btn{
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aliceblue; */
  position: relative;
  z-index: 2;
}

.menu-lines::before,
.menu-lines::after{
  content: "";
}

.menu-lines,
.menu-lines::before,
.menu-lines::after{
  height: 2px;
  position: absolute;
  align-self: center;
  justify-self: center;
  background-color: white;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-lines::before{
  transform: translateY(-10px);
  width: 25px;
  
}
.menu-lines::after{
  transform: translateY(10px);
  width: 25px;
}

.menu-btn.open .menu-lines{
  transform: translateX(-30px);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-lines::before{
  transform: rotate(45deg) translate(20px, -20px);
}
.menu-btn.open .menu-lines::after{
  transform: rotate(-45deg) translate(20px, 20px);
}
@media (min-width:700px){
  .menu-btn{
    display: none;
  }
  .menu-items{
    transform: translateX(0);
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: unset;
  height: auto;
  width: unset;
  align-items: center;
  transform: translateX(0);
  margin: 0 1em;
  background: transparent;
  border: none;
  }
  .menu-items a{
  font-size: 2rem;
  color: white;
  padding: 1em;
}
}